body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(15,15,15);
 /*  transition: background-color 5s ease-out; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App{
 /*  background-color: black; */
  color: white;
  display: grid;
  grid-template-rows: 1fr 5fr;
  height: 100vh;
}

img{
  cursor:pointer;
}


  .head-row{
    display: grid;
    grid-template-rows: 3fr 2fr;
    justify-content: center;
    padding-bottom: 15px;
  }

      .title{
        font-size: 20pt;
        padding-top: 15px;
      }

  .main-row{
    display: grid;
    grid-template-rows: 1fr 1fr;
    
    justify-content: center;
  }
      .img-row1, .img-row2{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px; 
      }
    
    img:hover{
      padding-top: 2px;
    }
  
  @media(max-width: 600px){

    body{
      margin-left: 20px;
      margin-right: 20px;
    
    }
    .main-row{
      grid-template-columns: 1fr 1fr;
      gap: 20px;
     
    }

    .img-row1, .img-row2{
      display: grid;
      grid-template-columns: none;
      grid-template-rows: repeat(3, 1fr);
      gap: 20px; 
    }    

    img{
      height: 150px;
      width: 150px;
    }
  }